.ht__possibility {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  background: url("../../Assets/paper.png");
  margin-bottom: 200px;
}

.ht__possibility-image {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
}

.ht__possibility-image img {
  width: 70%;
  height: 90%;
  border-radius: 20%;
}

.ht__possibility-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.ht__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #71e5ff;
}

.ht__possibility-content h4:last-child {
  color: #ff8a71;
}

.ht__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 3rem;
  line-height: 45px;
  margin-bottom: 11px;
}

.highlight {
  color: #6f2dbd;
  font-size: 3.5rem;
  font-family: var(--font-family);
  font-weight: bolder;
  font-size: 3rem;
  line-height: 45px;
  /* Purple color for highlighted text */
}

.ht__possibility-content p {
  font-family: var(--font-family);
  font-size: 25px;
  line-height: 30px;
  color: black;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .ht__possibility {
    flex-direction: column;
  }

  .ht__possibility-image {
    margin: 1rem 0;
  }

  .ht__possibility-content {
    margin: 2rem 0;
  }
}

.down-btn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding: 1rem; */
  /* border: 1px solid #ffffff; */
  text-align: center;
  cursor: pointer;
}

.playstore {
  width: 65%;
  height: 65%;
}

.appstore {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}