.nav__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

.nav__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main_logo {
  margin-right: 2rem;
}

.main_logo img {
  width: 30%;
  height: 30%;
  mix-blend-mode: color-dodge;
}

.nav__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.nav__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__navbar-links_container p,
.nav__navbar-sign p,
.nav__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.nav__navbar-sign button,
.nav__navbar-menu_container button {
  padding: 0.1rem 1rem;
  background: #ff4820;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.nav__navbar-menu svg {
  cursor: pointer;
}

.nav__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.nav__navbar-menu_container p {
  margin: 1rem 0;
}
.nav__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .nav__navbar-links_container {
    display: none;
  }
  .nav__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .nav__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .nav__navbar {
    padding: 2rem;
  }
  .nav__navbar-sign {
    display: none;
  }
  .nav__navbar-menu_container {
    top: 20px;
  }
  .nav__navbar-menu_container-links-sign {
    display: block;
  }
}
