.ft__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
  overflow-x: hidden;
}

.ft__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.ft__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}
.ft__footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ffffff;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}

.ft__footer-btn p {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  word-spacing: 2px;
}

.ft__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
}
.ft__footer-links div {
  width: 250px;
  margin: 1rem;
}
.ft__footer-links_logo {
  display: flex;
  flex-direction: column;
}
.ft__footer-links_logo img {
  width: 50%;
  height: 50%;
  margin-bottom: 1rem;
}
.ft__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
.ft__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.ft__footer-links_div h4 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 1rem;
}
.ft__footer-links_div p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 0.5rem 0;
  cursor: pointer;
}
.ft__footer-copyright {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.ft__footer-copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  .ft__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}
@media screen and (max-width: 550px) {
  .ft__footer-heading h1 {
    font-size: 27px;
    line-height: 34px;
  }
  .ft__footer-links div {
    margin: 1rem 0;
  }
  .ft__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
}
